<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.itou.yun.cordova.xiaodian">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <application android:requestLegacyExternalStorage="true" android:networkSecurityConfig="@xml/network_security_config" android:name="com.itou.yun.cordova.xiaodian.UmengApplication" android:label="小店总管" android:icon="@mipmap/launcher_icon">
        <activity android:name="com.itou.yun.cordova.xiaodian.wxapi.WXEntryActivity" android:label="小店总管" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx66d49aae855e4914"/>
            </intent-filter>
        </activity>
        <activity android:name="com.itou.yun.cordova.xiaodian.wxapi.WXPayEntryActivity" android:label="小店总管" android:exported="true" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx66d49aae855e4914"/>
            </intent-filter>
        </activity>
        <provider android:name="com.github.fordova.update.UpdateFileProvider" android:authorities="${applicationId}.updatefileprovider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/update_cache_path"/>
        </provider>
        <meta-data android:name="wechatappid" android:value="wx66d49aae855e4914"></meta-data>
        <meta-data android:name="UMENG_APPKEY" android:value="5c945c0a2036578dc00003e5"></meta-data>
        <meta-data android:name="UMENG_MESSAGE_SECRET" android:value="abb674140a5a29729221703c97611fba"></meta-data>
        <meta-data android:name="UMENG_CHANNEL" android:value="fordova" />
        <meta-data android:name="MZ_APP_ID" android:value="119552\0"></meta-data>
        <meta-data android:name="MZ_APP_KEY" android:value="e63e271cbd744099b2515819ec2a1f9b"></meta-data>
        <meta-data android:name="XM_APP_ID" android:value="2882303761518059732\0"></meta-data>
        <meta-data android:name="XM_APP_KEY" android:value="5621805934732\0"></meta-data>
        <!-- 离线唤醒，使用URL_SCHEME，例如 myproject_url://xxxxxx?order_id=123455554 -->
        <meta-data android:name="URL_SCHEME" android:value="xiaodian"></meta-data>
        <activity android:name="com.itou.yun.cordova.xiaodian.UmengOtherPushActivity" android:launchMode="singleTask" android:exported="true" />
        <receiver android:name="com.itou.yun.cordova.xiaodian.MeizuTestReceiver">
            <intent-filter>
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />
                <category android:name="com.itou.yun.cordova.xiaodian"></category>
            </intent-filter>
        </receiver>
        <activity android:name=".MainActivity" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
            <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme" />
            <meta-data android:name="io.flutter.app.android.SplashScreenUntilFirstFrame" android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 响应URL唤醒-->
                <data android:scheme="koudai" />
            </intent-filter>
        </activity>
        <meta-data android:name="flutterEmbedding" android:value="2" />
        <meta-data android:name="com.amap.api.v2.apikey" android:value="de5b3658922c4c187da2fc32708b1b9f" />
    </application>
</manifest>